<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://www.oracle.com/webfolder/technetwork/jsc/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<display-name>myproject</display-name>


	<listener>
   		<listener-class>
        org.springframework.web.context.ContextLoaderListener
   		</listener-class>
	</listener>

	<context-param>
	    <param-name>contextConfigLocation</param-name>
	    <param-value>
	    
	    	WEB-INF/config/root-context.xml
	   		WEB-INF/config/spring-security.xml
	   </param-value>
	</context-param>
	
	
	<servlet>
      <servlet-name>HelloWeb</servlet-name>
      <servlet-class>
         org.springframework.web.servlet.DispatcherServlet
      </servlet-class>
      	<init-param>
	   		<param-name>contextConfigLocation</param-name>
	    	<param-value>
	    		WEB-INF/config/web-context.xml
	    	</param-value>
		</init-param>
      <load-on-startup>1</load-on-startup>
	</servlet>

   	<servlet-mapping>
      <servlet-name>HelloWeb</servlet-name>
      <url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
	   <servlet-name>ServletExample</servlet-name>
	   <servlet-class>com.vamendrik.training.banking.web.server.ServletExample</servlet-class>
	</servlet>
	
   
	<servlet-mapping>
	   <servlet-name>ServletExample</servlet-name>
	   <url-pattern>/myservlet</url-pattern>
	</servlet-mapping>
	
	
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	

   
</web-app>